notification_close_time 5
colors {
    // text "#cbcbcb"
    // accent "#865fff"
    // muted "#595959"
    // error "#ff0000"
    // notif "#e4bf7a"
    text "none"
    accent "red"
    muted "bright_black"
    error "default"
    notification "default"
}
icons {
    nerd_preset true
    border_style "rounded"
    input_cursor_shape "bar"
}
logging {
    level "warn"
    file_path "~/.local/state/nm-tui/nm-tui.log"
}
