@import 'catppuccin-mocha.css';

/* * { */
/*     font-family: RobotoMono Nerd Font Propo; */
/*     font-size: 12pt; */
/*     font-weight: bold; */
/*     border: none; */
/*     border-radius: 0; */
/*     box-shadow: none; */
/*     text-shadow: none; */
/*     transition-duration: 0s; */
/* } */

window {
    font-family: RobotoMono Nerd Font Propo;
    font-size: 1.2em;
    color: @text;
    background-color: alpha(@blue0, 0.6);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: transparent;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px 2px transparent;
    border-radius: 36px;
    margin: 210px 10px 210px 10px;
    font-weight: bold;
    color: @crust;
}

button:focus {
    box-shadow: none;
    outline-style: none;
    background-size: 20%;
}

button:hover {
    background-size: 30%;
    outline-style: none;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
    background-color: @sapphire;
    color: transparent;
}

#lock {
    background-image: image(
        url('icons/lock.svg')
    );
}

#logout {
    background-image: image(
        url('icons/logout.svg')

    );
}

#suspend {
    background-image: image(
        url('icons/suspend.svg')
    );
}

#hibernate {
    background-image: image(
        url('icons/hibernate.svg')
    );
}

#poweroff {
    background-image: image(
        url('icons/poweroff.svg')
    );
}

#reboot {
    background-image: image(
        url('icons/reboot.svg')
    );
}
