@import "catpuccin-mocha.css";

* {
  font-family: RobotoMono Nerd Font;
  font-size: 12pt;
  font-weight: bold;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  background-color: transparent;
}

#window {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 4px;
  margin-right: 4px;
}

#workspaces button {
  padding: 2 12px;
}

#workspaces button.active {
  color: @base;
  background-color: @overlay1;
  border-radius: 6px;
}

#workspaces,
#tray,
#clock,
#language,
#keyboard-state,
#group-controls,
#group-battery,
#custom-powermenu {
  background-color: @base;
  color: @text;

  padding-left: 8px;
  padding-right: 8px;
  margin-left: 0px;
  margin-right: 4px;

  border: 1px solid @overlay1;
  border-radius: 8px;
}

#custom-powermenu {
  margin-right: 0px;
}

#workspaces {
  padding-left: 0px;
  padding-right: 0px;
}

#group-battery *,
#group-controls * {
  margin-left: 4px;
  margin-right: 4px;
}
