@import "catpuccin-mocha.css";

* {
  font-family: RobotoMono Nerd Font Propo;
  font-size: 12pt;
  font-weight: bold;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  background-color: transparent;
}

#window {
  padding: 0px;
  margin-left: 4px;
  margin-right: 4px;
}

#workspaces button {
  padding: 0 4px;
}

#workspaces button.active {
  color: @blue;
  /* color: @base; */
  /* background-color: @overlay1; */
  /* border-radius: 6px; */
}

#workspaces,
#tray,
#clock,
#language,
#keyboard-state,
#group-controls,
#group-battery,
#group-power {
  background-color: @base;
  color: @text;

  padding-left: 4px;
  padding-right: 4px;
  margin-left: 0px;
  margin-right: 4px;

  border: 1px solid @overlay1;
  border-radius: 8px;
}

#group-power {
  margin-right: 0px;
}

#group-power *,
#group-battery * {
  margin-left: 4px;
  margin-right: 4px;
}

#group-controls * {
  margin-left: 12px;
  margin-right: 12px;
}

#network {
  margin-left: 4px;
}

#backlight {
  margin-right: 4px;
}
