@import 'catpuccin-mocha.css';

* {
    font-family: 'RobotoMono Nerd Font';
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

window#waybar.empty #window {
    background-color: transparent;
    border: none;
}

#workspaces button,
#clock,
#battery,
#power-profiles-daemon,
#language,
#network,
#window,
#backlight,
#keyboard-state,
#bluetooth,
#pulseaudio,
#lock,
#tray,
#custom-power,
#custom-reboot,
#custom-lock,
#custom-powermenu,
#cava {
    background-color: @base;
    color: @text;

    padding: 6px 16px;
    margin: 0 4px;

    border: 1px solid alpha(@overlay2, 0.5);
    border-radius: 8px;
}

#custom-lock,
#custom-reboot,
#battery {
    padding-right: 8px;
    margin-right: 0;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#custom-power,
#custom-reboot,
#power-profiles-daemon {
    padding-left: 8px;
    margin-left: 0;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#workspaces button.active {
    color: @green;
    border-color: @green;
}

#battery.charging {
    color: @green;
    border-color: @green;
}
