@import "catpuccin-mocha.css";

* {
  font-family: RobotoMono Nerd Font;
  font-size: 12pt;
  font-weight: bold;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  background-color: transparent;
}

#window {
  padding: 2px 10px;
  margin: 0 4px;
}

#workspaces,
#clock,
#battery,
#power-profiles-daemon,
#language,
#network,
#backlight,
#keyboard-state,
#bluetooth,
#pulseaudio,
#lock,
#tray,
#custom-power,
#custom-reboot,
#custom-lock,
#custom-powermenu,
#custom-notifications,
#custom-screenlock,
#cava {
  background-color: @base;
  color: @text;

  padding: 0px 10px;
  margin: 0 2px;

  border: 1px solid @overlay1;
  border-radius: 8px;
}

#custom-lock,
#network {
  padding-right: 8px;
  margin-right: 0;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#lock,
#pulseaudio,
#custom-screenlock,
#backlight,
#custom-notifications,
#bluetooth,
#custom-reboot,
#power-profiles-daemon {
  padding-right: 8px;
  margin-right: 0;
  border-right: 0;
  padding-left: 8px;
  margin-left: 0;
  border-left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#battery {
  padding-left: 8px;
  margin-left: 0;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#workspaces {
  padding: 0px 0px;
}

#workspaces button {
  padding: 2px 12px;
}

#workspaces button.active {
  color: @base;
  background-color: @overlay1;
  border-radius: 6px;
}
