@import 'catppuccin-mocha.css';

@define-color bg @base;
@define-color fg @text;
@define-color border @overlay1;

@define-color ws-urgent-fg @peach;
@define-color ws-active-fg @blue;
@define-color ws-active-bg @base;

@define-color slider-bg black;

@define-color backlight @peach;
@define-color battery-charge @green;
@define-color battery-warn @peach;
@define-color battery-crit @red;
@define-color profile-eco @green;
@define-color profile-balance @peach;
@define-color profile-perf @red;
@define-color power-menu @red;
@define-color power-shutdown @red;
@define-color power-reboot @sapphire;
@define-color power-logout @green;
@define-color power-lock @yellow;
@define-color power-suspend @flamingo;
@define-color power-hybernate @sky;

@define-color sound-source-mute @red;
@define-color sound-source @teal;
@define-color sound-sink-mute @red;
@define-color sound-sink @mauve;
@define-color notif @yellow;

@define-color bluetooth @fg;
@define-color bluetooth-connected @sapphire;

@define-color network @fg;
@define-color network-connected @sapphire;

* {
    font-family: RobotoMono Nerd Font Propo;
    font-size: 12pt;
    font-weight: bold;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
}

window#waybar {
    background-color: transparent;
    color: @fg;
}

#window {
    padding: 0px;
    margin-left: 4px;
    margin-right: 4px;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces,
#tray,
#clock,
#group-keyboard,
#group-controls,
#group-battery,
#group-power {
    background-color: @bg;

    padding-left: 4px;
    padding-right: 4px;
    margin-left: 0px;
    margin-right: 4px;

    border: 1px solid @border;
    border-radius: 8px;
}

#group-power {
    margin-right: 0px;
}

#group-power *,
#group-keyboard *,
#group-battery * {
    margin-left: 4px;
    margin-right: 4px;
}

#group-controls * {
    margin-left: 8px;
    margin-right: 8px;
}

#network {
    margin-left: 4px;
}

#group-backlight {
    margin-right: 4px;
}

#backlight {
    margin: 0;
    padding: 0;
}

#wireplumber.sourceicon {
    min-width: 12px;
}
#wireplumber.sinkicon {
    min-width: 12px;
}
#backlight.percentage,
#wireplumber.sinkpercentage,
#wireplumber.sourcepercentage {
    margin-left: 5px;
    margin-right: 0px;
    min-width: 40px;
}

#backlight-slider,
#backlight-slider *,
#pulseaudio-slider,
#pulseaudio-slider * {
    padding: 0;
    margin: 0;
}
#backlight-slider,
#pulseaudio-slider {
    margin-left: 5px;
    margin-right: 5px;
}
#backlight-slider trough,
#pulseaudio-slider trough {
    min-height: 6px;
    min-width: 75px;
    border-radius: 3px;
    background: @slider-bg;
}
#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 3px;
    min-height: 0px;
    min-width: 0px;
}
#backlight-slider slider,
#pulseaudio-slider slider {
    all: unset;
    min-height: 10px;
    min-width: 10px;
    border-radius: 5px;
    margin: -4px; /* diff between dot and slider  */
    opacity: 0;
    background-image: none;
    box-shadow: none;
}

/* Element colors  */

#workspaces button.active {
    color: @ws-active-fg;
    background-color: @ws-active-bg;
    border-radius: 6px;
}
#workspaces button.urgent {
    color: @ws-urgent-fg;
}

#network {
    color: @network;
}
#network.linked,
#network.ethernet,
#network.wifi {
    color: @network-connected;
}

#bluetooth {
    color: @bluetooth;
}
#bluetooth.connected {
    color: @bluetooth-connected;
}

#custom-notifications {
    color: @notif;
}

#wireplumber.sink {
    color: @sound-sink;
}
#wireplumber.sink-muted {
    color: @sound-sink-mute;
}
#pulseaudio-slider highlight {
    background: @sound-sink;
    border-color: @sound-sink;
}
#pulseaudio-slider slider {
    background-color: @sound-sink;
}

#wireplumber.source {
    color: @sound-source;
}
#wireplumber.source-muted {
    color: @sound-source-mute;
}

#backlight {
    color: @backlight;
}
#backlight-slider highlight {
    background: @backlight;
    border-color: @backlight;
}
#backlight-slider slider {
    background: @backlight;
}

#battery.charging {
    color: @battery-charge;
}
#battery.warning {
    color: @battery-warn;
}
#battery.critical {
    color: @battery-crit;
}

#power-profiles-daemon.performance {
    color: @profile-perf;
}
#power-profiles-daemon.balanced {
    color: @profile-balance;
}
#power-profiles-daemon.power-saver {
    color: @profile-eco;
}

#custom-powermenu {
    color: @power-menu;
}
#custom-shutdown {
    color: @power-shutdown;
}
#custom-reboot {
    color: @power-reboot;
}
#custom-logout {
    color: @power-logout;
}
#custom-lock {
    color: @power-lock;
}

#custom-suspend {
    color: @power-suspend;
}

#custom-hibernate {
    color: @power-hybernate;
}
