@import 'catppuccin-mocha.css';

@define-color shadow @shadow;

* {
    all: unset;
    font-size: 12pt;
    font-family: 'Roboto Mono Nerd Font Propo';
    font-weight: bold;
    transition: 200ms;
}

trough highlight {
    background: @text;
}

scale {
    margin: 0 7px;
}

scale trough {
    margin: 0rem 1rem;
    min-height: 8px;
    min-width: 70px;
    border-radius: 12.6px;
}

trough slider {
    margin: -10px;
    border-radius: 12.6px;
    box-shadow: 0 0 2px @shadow;
    transition: all 0.2s ease;
    background-color: @blue;
}

trough slider:hover,
switch:hover {
    box-shadow:
        0 0 2px @shadow,
        0 0 8px @text;
}

trough {
    background-color: @surface0;
}

/* notifications */
.notification-background {
    box-shadow:
        0 0 8px 0 @shadow,
        inset 0 0 0 1px @surface1;
    border-radius: 12.6px;
    margin: 18px;
    background: @mantle;
    color: @text;
    padding: 0;
}

.notification-background .notification {
    padding: 7px;
    border-radius: 12.6px;
}

.notification-background .notification.critical {
    box-shadow: inset 0 0 7px 0 @red;
}

.notification .notification-content {
    margin: 7px;
}

.notification .notification-content overlay {
    /* icons */
    margin: 4px;
}

.notification-content .summary {
    color: @text;
}

.notification-content .time {
    color: @subtext0;
}

.notification-content .body {
    color: @subtext1;
}

.notification > *:last-child > * {
    min-height: 3.4em;
}

.notification-background .close-button {
    margin: 7px;
    padding: 2px;
    border-radius: 6.3px;
    color: @base;
    background-color: @red;
}

.notification-background .close-button:hover {
    background-color: @maroon;
}

.notification-background .close-button:active {
    background-color: @pink;
}

.notification .notification-action {
    border-radius: 7px;
    color: @text;
    box-shadow: inset 0 0 0 1px @surface1;
    margin: 4px;
    padding: 8px;
    font-size: 0.2rem; /* controls the button size not text size*/
}

.notification .notification-action {
    background-color: @surface0;
}

.notification .notification-action:hover {
    background-color: @surface1;
}

.notification .notification-action:active {
    background-color: @surface2;
}

.notification.critical progress {
    background-color: @red;
}

.notification.low progress,
.notification.normal progress {
    background-color: @blue;
}

.notification progress,
.notification trough,
.notification progressbar {
    border-radius: 12.6px;
    padding: 3px 0;
}

/* control center */
.control-center {
    box-shadow:
        0 0 8px 0 @shadow,
        inset 0 0 0 1px @surface0;
    border-radius: 12.6px;
    background-color: @base;
    color: @text;
    padding: 14px;
}

.control-center .notification-background {
    border-radius: 7px;
    box-shadow: inset 0 0 0 1px @surface1;
    margin: 4px 10px;
}

.control-center .notification-background .notification {
    border-radius: 7px;
}

.control-center .notification-background .notification.low {
    opacity: 0.8;
}

.control-center .widget-title > label {
    color: @text;
    font-size: 1.3em;
}

.control-center .widget-title button {
    border-radius: 7px;
    color: @text;
    background-color: @surface0;
    box-shadow: inset 0 0 0 1px @surface1;
    padding: 8px;
}

.control-center .widget-title button:hover {
    background-color: @surface1;
}

.control-center .widget-title button:active {
    background-color: @surface2;
}

.control-center .notification-group {
    margin-top: 10px;
}

.control-center .notification-group:focus .notification-background {
    background-color: @surface0;
}

/* hidden scrollbars */
.control-center scrollbar,
.control-center scrollbar contents,
.control-center scrollbar slider,
.control-center scrollbar slider:hover,
.control-center scrollbar slider:active,
.control-center scrollbar trough,
.control-center .notification-row scrollbar,
.control-center .notification-row scrollbar thumb,
.control-center .notification-row scrollbar thumb:hover {
    background: transparent;
    min-width: 1px;
    margin-right: -100px;
}

/* dnd */
.widget-dnd {
    margin-top: 5px;
    border-radius: 8px;
    font-size: 1.1rem;
}

.widget-dnd > switch {
    font-size: initial;
    border-radius: 8px;
    background: @surface0;
}

.widget-dnd > switch:checked {
    background: @blue;
}

.widget-dnd > switch slider {
    background: @surface1;
    border-radius: 8px;
}

/* mpris */
.widget-mpris-player {
    background: @surface0;
    border-radius: 12.6px;
    color: @text;
}

.mpris-overlay {
    background-color: @surface0;
    opacity: 0.9;
    padding: 15px 10px;
}

.widget-mpris-album-art {
    -gtk-icon-size: 100px;
    border-radius: 12.6px;
    margin: 0 10px;
}

.widget-mpris-title {
    font-size: 1.2rem;
    color: @text;
}

.widget-mpris-subtitle {
    font-size: 1rem;
    color: @subtext1;
}

.widget-mpris button {
    border-radius: 12.6px;
    color: @text;
    margin: 0 5px;
    padding: 2px;
}

.widget-mpris button image {
    -gtk-icon-size: 1.8rem;
}

.widget-mpris button:hover {
    background-color: @surface1;
}

.widget-mpris button:active {
    background-color: @surface2;
}

.widget-mpris button:disabled {
    opacity: 0.5;
}

.widget-menubar > box > .menu-button-bar > button > label {
    font-size: 3rem;
    padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
    color: @red;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
    background: #313244;
}

.control-center .widget-label > label {
    color: @red;
    font-size: 2rem;
}

.widget-buttons-grid {
    padding-top: 1rem;
    font-size: x-large;
    padding: 5px;
    margin: 5px 0 10px 0;
    border-radius: 5px;
    background-color: @mantle;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 3px;
    background: @surface0;
    border-radius: 5px;
    color: @text;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @surface1;
    color: @blue;
}

.widget-volume {
    margin: 1rem 0;
}

.widget-volume label {
    color: @mauve;
    margin: 0 1rem;
}

.widget-volume trough {
    margin-top: 8px;
    margin-bottom: 8px;
}

.widget-volume trough highlight {
    background: @mauve;
}

.widget-volume trough slider {
    background-color: @mauve;
}

.widget-volume > box > button:hover {
    color: @blue;
}

.widget-volume .per-app-volume {
    margin: 0 29px 0 10px;
}

.widget-volume .per-app-volume trough {
    margin: 8px 0 8px 24px;
}

.widget-backlight {
    margin-right: 17px;
    padding: 0 12px;
}

.widget-backlight label {
    color: @peach;
}

.widget-backlight trough {
    margin: 8px 0 8px 24px;
}

.widget-backlight trough slider {
    background-color: @peach;
}

.widget-backlight trough highlight {
    background-color: @peach;
}

.widget-backlight .KB {
    padding-bottom: 1rem;
}

.image {
    padding-right: 0.5rem;
}
