; sudo ln -rs ~/.config/manual/systemd/user/battery_notify.timer /etc/systemd/user/battery_notify.timer
[Unit]
Description=Run battery notifier every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
